body {
	padding: 20px 10px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	background-color: lightblue;
}

h1 {
	color: white;
}

.section {
	background-color: lightgrey;
}


.concept {
	background-color: white;
}


.title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.spaces {
  text-indent: 8em;
} 